:root {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Trebuchet MS', Arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.with-margin, textarea, button, canvas {
	margin: 8px;
}

summary {
	/* make it look similar to a link */
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		opacity: 60%;
	}
}

canvas {
	width: 800px;
	height: 800px;
}
